body {
    background-image: url(tu_imagen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80;
    background-color: #303030;
  }
  
  @font-face {
    font-family: "Forgoten Futurist";
    src: url(tu_fuente.ttf);
  }
  
  body {
    font-family: "Forgoten Futurist", Arial, sans-serif;
  }
  
  h1 {
        color: peru;
        text-align: center;
        transition: ease-in-out linear 10s;
        initial-value: 0;

  }
  /* Estilos adicionales aquí */
  
  