body {
  font-family: Poppins-medium;
  margin: 0;
  padding: 0;
  background-color: #323232;
  /* Fondo negro */
}

header {
  border-color: rgb(255, 255, 255);
  background-color: #26ff0062;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1px;
}

main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #55ff0063;
  /* Contorno de color alrededor del video */
}

video {
  width: 100%;
  height: auto;
}